/* DON'T USE ANY MORE BUT THIS IS CREATED BY KEVIN SO I'LL KEEP IT */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #8e44ad, #f39c12);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 25px;
    font-size: 0.9rem;
    font-weight: bold;
}
.logo {
    font-weight: bold;
    color: white;
}
.hero-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 80%; 
    margin-top: 100px; 
}
.hero-text {
    flex: 1; 
    max-width: 50%;
    margin-top: -100px; 
}
.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}
.cta-btn {
    padding: 15px 30px;
    background: #c0392b;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.circle-container {
    width: 45%; 
    height: auto; 
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
}
.circle-container img {
    width: 60%;
    margin-left: -10px; 
    height: auto; 
}

/* Gameplay Overview */
.gameplay-overview {
    width: 100%;
    padding: 50px 20px;
    background-color: pink;
    color: #333;
    text-align: center;
    box-sizing: border-box;
    margin-top: 20px;
}

.gameplay-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

/* left side */
.gameplay-text {
    flex: 1;
    max-width: 50%;
    text-align: left;
    margin-left: 165px;
}

.gameplay-overview h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #c0392b; 
}

.gameplay-text h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.gameplay-text ul {
    list-style: decimal;
    margin-left: 20px;
    color: #333;
}

.gameplay-text li {
    font-weight: bold;
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

/* right side */
.image-carousel {
    flex: 1;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-left: -50px;
    margin-right: 50px;
}

.carousel {
    display: flex;
    animation: slide linear 50s infinite;
    width: 300%; 
    max-width: 100%; 
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: contain;
    flex: 1 0 100%;
    display: block;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(-100%);
    }
    66.66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-300%);
    }
}


/* FAQ */
.FAQ{
    text-align: center; 
    width: 100%;
    background: pink;
}

.FAQ h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #c0392b;
}

.FAQ-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.FAQ-card {
    width: 400px;
    text-align: center;
}

.FAQ-card h5 {
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
}

.FAQ-card p {
    font-weight: bold;
    font-size: 20px;
    color: #666;
}


/* Footer */
.Footer {
    width: 100%; 
    padding: 50px 20px; 
    background-color: #fff; 
    color: #333; 
    text-align: center; 
    box-sizing: border-box; 
    background: pink;
}

.Links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    margin-top: 10px;
}

.Link {
    width: 150px;
    background: pink;
}

.Link img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}



/* Media Query */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 20px;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar a {
        margin: 10px 0;
    }
    .hero-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 150px;
    }
    .hero-text {
        max-width: 100%;
        text-align: center;
        margin-top: 0;
    }
    .hero-text h1 {
        font-size: 3rem;
    }
    .hero-text p {
        font-size: 1rem;
    }
    .circle-container {
        width: 45%;
        height: auto;
        margin-top: 20px;
    }
    .circle-container img {
        width: 60%;
    }
    .gameplay-container {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        gap: 20px; 
    }
    .gameplay-text {
        max-width: 90%; 
        font-size: 1rem;
        text-align: center; 
        margin-left: 50px;
    }
    .gameplay-text h5 {
        font-size: 1.2rem; 
        margin-bottom: 10px; 
    }
    .gameplay-text ul {
        list-style-position: inside; 
        margin: 10px 0; 
        padding: 0; 
    }
    .gameplay-text li {
        font-size: 0.9rem; 
        margin-bottom: 5px; 
    }
    .image-carousel {
        width: 90%; 
        overflow: hidden; 
        margin: 0 auto; 
    }
    .carousel img {
        width: 100%; 
        height: auto;
    }
    .gameplay-overview{
        padding: 20px;
    }
    .gameplay-overview h2{
        font-size: 2rem;
    }
    .features {
        flex-direction: column
    }
}

